In [ ]:
"""Compare the metrics on assay_epiclass and harmonized_sample_ontology_intermediate
when using alternative track_types for chips-seq data.

Combinations of track_types:
- all (fc, pval, raw)
- noFC
- only-pval
- only-raw
"""

from __future__ import annotations

from pathlib import Path

import pandas as pd
from IPython.display import display

In [2]:
results_dir = (
    Path.home() / "mounts" / "narval-mount" / "logs-dfreeze-2.1" / "hg38_100kb_all_none/"
)
assay_logs = list(
    (results_dir / "assay_epiclass_1l_3000n").glob(
        "10fold*/full-10fold-validation_prediction_augmented-all.csv"
    )
)
cell_type_logs = list(
    (results_dir / "harmonized_sample_ontology_intermediate_1l_3000n").glob(
        "10fold-*/full-10fold-validation_prediction_augmented-all.csv"
    )
)

display(assay_logs)
display(cell_type_logs)

[PosixPath('/home/local/USHERBROOKE/rabj2301/mounts/narval-mount/logs-dfreeze-2.1/hg38_100kb_all_none/assay_epiclass_1l_3000n/10fold-noFC/full-10fold-validation_prediction_augmented-all.csv'),
 PosixPath('/home/local/USHERBROOKE/rabj2301/mounts/narval-mount/logs-dfreeze-2.1/hg38_100kb_all_none/assay_epiclass_1l_3000n/10fold-only_raw/full-10fold-validation_prediction_augmented-all.csv'),
 PosixPath('/home/local/USHERBROOKE/rabj2301/mounts/narval-mount/logs-dfreeze-2.1/hg38_100kb_all_none/assay_epiclass_1l_3000n/10fold-only_pval/full-10fold-validation_prediction_augmented-all.csv'),
 PosixPath('/home/local/USHERBROOKE/rabj2301/mounts/narval-mount/logs-dfreeze-2.1/hg38_100kb_all_none/assay_epiclass_1l_3000n/10fold/full-10fold-validation_prediction_augmented-all.csv')]

[PosixPath('/home/local/USHERBROOKE/rabj2301/mounts/narval-mount/logs-dfreeze-2.1/hg38_100kb_all_none/harmonized_sample_ontology_intermediate_1l_3000n/10fold-only_raw/full-10fold-validation_prediction_augmented-all.csv'),
 PosixPath('/home/local/USHERBROOKE/rabj2301/mounts/narval-mount/logs-dfreeze-2.1/hg38_100kb_all_none/harmonized_sample_ontology_intermediate_1l_3000n/10fold-noFC/full-10fold-validation_prediction_augmented-all.csv')]

In [3]:
assay_dfs = {}
for file in assay_logs:
    df = pd.read_csv(file, sep=",", header=0)
    name = file.parent.name
    assay_dfs[name] = df

In [4]:
# assay_dfs[0].columns

In [6]:
relevant_tracks = set(["pval", "raw"])

for name, df in assay_dfs.items():
    df = df[df["track_type"].isin(relevant_tracks)]
    result = (
        df.groupby(["track_type", "assay_epiclass", "Same?"])["md5sum"]
        .count()
        .unstack(fill_value=0)
    )
    result["Total"] = result.sum(axis=1)
    result["Accuracy (%)"] = (result[True] / result["Total"] * 100).round(2)
    print(name)
    display(result)
    result.to_csv(f"assay_{name}_acc.csv")

10fold-noFC

Same?                      False  True  Total  Accuracy (%)
track_type assay_epiclass
pval       h3k27ac             2  1561   1563         99.87
           h3k27me3            1   674    675         99.85
           h3k36me3            1   694    695         99.86
           h3k4me1             1   962    963         99.90
           h3k4me3             0   799    799        100.00
           h3k9me3             0   642    642        100.00
raw        h3k27ac             7  1556   1563         99.55
           h3k27me3            5   670    675         99.26
           h3k36me3            2   693    695         99.71
           h3k4me1             1   962    963         99.90
           h3k4me3             2   797    799         99.75
           h3k9me3             4   638    642         99.38

10fold-only_raw

Same?                      False  True  Total  Accuracy (%)
track_type assay_epiclass
raw        h3k27ac             7  1556   1563         99.55
           h3k27me3            1   674    675         99.85
           h3k36me3            1   694    695         99.86
           h3k4me1             1   962    963         99.90
           h3k4me3             2   797    799         99.75
           h3k9me3             2   640    642         99.69

10fold-only_pval

Same?                      False  True  Total  Accuracy (%)
track_type assay_epiclass
pval       h3k27ac             3  1560   1563         99.81
           h3k27me3            1   674    675         99.85
           h3k36me3            1   694    695         99.86
           h3k4me1             1   962    963         99.90
           h3k4me3             3   796    799         99.62
           h3k9me3             0   642    642        100.00

10fold

Same?                      False  True  Total  Accuracy (%)
track_type assay_epiclass
pval       h3k27ac             2  1561   1563         99.87
           h3k27me3            1   674    675         99.85
           h3k36me3            1   694    695         99.86
           h3k4me1             0   963    963        100.00
           h3k4me3             0   799    799        100.00
           h3k9me3             0   642    642        100.00
raw        h3k27ac             4  1559   1563         99.74
           h3k27me3            2   673    675         99.70
           h3k36me3            1   694    695         99.86
           h3k4me1             2   961    963         99.79
           h3k4me3             3   796    799         99.62
           h3k9me3             2   640    642         99.69